.project {
    background-color: #fff;
    width: 15%;
    text-align: center;
    margin-top: 20px;
    line-height: normal;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.project:hover {
    background-color: #4798ee;
    color: white;
}
