.Timestamps {
    background: white;
    display: inline-block;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0.25rem 0.5rem;
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
